* {
  margin: 0;
  padding: 0;
}

.square {
  height: 50px;
  width: 50px;
  background-color: rgb(204, 201, 201);
  /* display: inline-block; */
  font-size: 2rem;
}

h1 {
  margin-top: 3%;
  text-align: center;
}
.container {
  /* margin: 0 auto; */
  text-align: center;
}
/* .container {
  height: 150px;
} */
section .gameBoard {
  width: 100%;

  text-align: center;
  margin: 0 auto;
}
.playerOne {
  background-color: #ff0000;
}

.playerTwo {
  background-color: #0000ff;
}
