/* * {
  margin: 0;
  padding: 0;
} */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

button#start {
  background-color: white;
  border: rgb(0, 0, 0) 2px solid;

  margin: auto;
  display: block;
}

.square {
  background-color: rgb(255, 255, 255);
  border: black 2px solid;
  height: 100px;
  width: 100px;
}
div {
  float: left;
}
div:nth-child(3n + 1) {
  clear: left;
}

h1,
h2 {
  text-align: center;
}

.red {
  background-color: #ff0000;
}
.blue {
  background-color: #0066ff;
}
